body{
    background-color: white;
}
header{
    height: 100px;
    background-color: white;
}
#header-container{
    width: 80%;
    margin: auto;
    padding: 15px;
}
#header{
    width: 33%;
    float: left;
}
#menu li{
    list-style-type: none;
    display: inline;
    font-size: 2em;
    color: brown;
    padding-right: 30px;
    margin-top: 32px;
}
#button{
    text-decoration: none;
    color: white;
    padding: 39px, 26px;
    display: inline-block;
}
#button{
    float: right;
    font-size: 17px;
}
.class{
   margin-bottom: 50%;
}
.top-section-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}
.top-section-content h1{
    padding-top: 20%;
    font-size: 4em;
    font-weight: 500%;
    color: white;
    text-align: center;
    margin-top: 0%;
    font-family: sans-serif;
}
.top-section-content p{
    font-size: 4em;
    font-weight: 100%;
    color: white;
    text-align: center;
    margin-top: 0%;
    font-family: sans-serif;
}
.top-section-main{
    background-image: url(back.jpg);
    height: 1000px;
    border: none;
}
.mainform h6{
    font-family: 'Franklin Gothic Medium';
    font-size: 2em;
    font-weight: 350;
    color: white;
    text-align: center;
    padding-top: 25%;
}
.mainform input{
    margin: 0%;
    width: 30%;
    height: 40px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium';
    padding: 15px;
    font-weight: 100;
    border: none;
    text-align: center;
    padding-bottom: 15px;
}
.mainform button{
    width: 30%;
    height: 40px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium';
    padding: 15px;
    font-weight: 100;
    border: none;
    background-color: white;
    text-align: center;
    padding-bottom: 15px;
}
.Feature-section{
    padding-top: 100px;
}
.feature-title{
    width: 70%;
    text-align: center;
    font-weight: 200;
    line-height: 1.5em;
    margin: auto;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium';
    color: black;
    clear: both;
}
.picture{
    color: black;
}
.feature-content picture img{
    width: 100%;
}
.feature-content {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-left: 0%;
}
.feature-content picture p{
    font-size: .9em;
    letter-spacing: 1px;
    
}
#para{
    font-family: 'Franklin Gothic Medium';
    color: #5d6660;
    font-size: 16px;
    line-height: 24px;
}
.column{
    float: left;
    width: 48%;
}
#showcase{
    width: 100%;
    margin: auto;
    padding: 5px;
}
#Showcase-column{
    background-color: white;
    width: 100%;
}
.image{
    width: 90%;
    padding-left: 10px;
}
.column1{
    padding-top: 100px;
    padding-left: 50px;
    text-align: center;
    color: black;
}
.column3{
    float: right;
    width: 48%;
}
.column2{
    float: left;
    text-align: center;
    padding-top: 100px;
    color: black;
}
#showcase1{
    width: 100%;
    margin: auto;
    padding: 5px;
}
#Showcase-column1{
    background-color: white;
    width: 100%;
    clear: both;
}
.image1{
    width: 90%;
    padding-bottom: 20px;
    height: 80%;
}
#action{
    background-image: url(receipe.jpg);
    text-align: center;
    height: 70%;

    text-align: center;
    padding-top: 60px;
    font-size: 200%;
    color: white;
    font-weight: 300;
}
#callofaction{
    padding-top: 500px;
}
.box{
    float: right;
    width: 50%;
    padding-left: 50px;
    padding-right: 150px;
}
.text{
    width: 50%;
    padding-left: 100px;
}
.tabledata{
    size: 50px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.signup{
    padding-top: 15px;
}
footer{
    background-color: black;
    height: 500px;
    background-image: url(last.jpg);
    width: 100%;
    background-position: 50% 50%;
}
.center{
    padding-top: 60px;
    width: 50px;
    margin: auto;
}
.social-footer{
    width: 33%;
    float: left;
    height: 40%;
}
.social-footer:hover{
    background-color: black;
    opacity: 50%;
}
.class{
    color: white;
    text-align: center;
}
#copyid{
    padding-top: 300px;
}